<nav class="navbar-default navbar-static-side" role="navigation">
    <div class="sidebar-collapse">
        <ul side-navigation class="nav metismenu" id="side-menu">
            <li class="nav-header">

                <div class="profile-element" uib-dropdown ng-controller="UsuarioController as main">
                    <img alt="image" class="img-circle" src="img/profile_small.jpg"/>
                    <a uib-dropdown-toggle href>
                        <span class="clear">
                            <span class="block m-t-xs">
                                <strong class="font-bold">{{nombre}}</strong>
                            </span>
                            <span class="text-muted text-xs block">{{correo}}<b class="caret"></b></span>
                        </span>
                    </a>
                    <ul uib-dropdown-menu class="animated fadeInRight m-t-xs">
                        <li><a ui-sref="app.profile">Perfil</a></li>
                        <li class="divider"></li>
                        <li><a href="/easyapp/login/salir">Logout</a></li>
                    </ul>
                </div>
                <div class="logo-element">
                    FAPA
                </div>
            </li>
            <li ui-sref-active="active">
                <a ui-sref="principal.articulos"><i class="fa fa-archive"></i> <span class="nav-label">{{ 'ARTICULOS' | translate }}</span> </a>
            </li>
            <li ui-sref-active="active">
                <a ui-sref="principal.galeria"><i class="fa fa-image"></i> <span class="nav-label">{{ 'GALERIA' | translate }}</span> </a>
            </li>
            <li ng-class="{active: $state.includes('refugio')}">
                <a ui-sref="inbox"><i class="fa fa-envelope"></i> <span class="nav-label">{{ 'REFUGIO' | translate }} </span><span class="fa arrow"></span></a>
                <ul class="nav nav-second-level collapse">
                    <li ui-sref-active="active"><a ui-sref="refugio.adopciones">Adopciones</a></li>
                    <li ui-sref-active="active"><a ui-sref="refugio.animales">Animales</a></li>
                    <li ng-class="{active: $state.includes('parametros')}">
                        <a ui-sref="inbox"><span class="nav-label">Parametros</span><span class="fa arrow"></span></a>
                        <ul class="nav nav-third-level collapse">
                            <li>
                                <a ui-sref="inbox"><span class="nav-label">Caracteristicas</span><span class="fa arrow"></span></a>
                                <ul class="nav nav-third-level collapse">
                                    <li ui-sref-active="active"><a ui-sref="refugio.parametros.especies">Especies</a></li>
                                    <li ui-sref-active="active"><a ui-sref="refugio.parametros.razas">Razas</a></li>
                                    <li ui-sref-active="active"><a ui-sref="refugio.parametros.colores">Colores</a></li>
                                    <li ui-sref-active="active"><a ui-sref="refugio.parametros.estados">Estados</a></li>
                                    <li ui-sref-active="active"><a ui-sref="refugio.parametros.estadoAdopcion">Estados Adopcion</a></li>
                                </ul>
                            </li>
                            <li ui-sref-active="active"><a ui-sref="principal.animales">Animales</a></li>
                        </ul>
                    </li>
                </ul>
            </li>
        </ul>

    </div>
</nav>