<div class="row">
    <div class="col-lg-12">
        <div class="tabs-container">
            <uib-tabset>
                <uib-tab>
                    <uib-tab-heading>
                        Contenido del Articulo
                    </uib-tab-heading>
                    <div class="panel-body">
                        <fieldset class="form-horizontal">
                            <input-text titulo="Titulo" valor="selected.titulo"></input-text>
                            <input-text titulo="Resumen" valor="selected.resumen"></input-text>
                            <text-editor titulo="Contenido" contenido="selected.contenido"></text-editor>
                        </fieldset>
                        <div class="row text-center">
                            <button class="btn btn-lg btn-info" type="submit" ng-click="ok()"><strong>guardar</strong></button>
                            <button class="btn btn-lg btn-danger" type="submit" ng-click="cancel()"><strong>cancelar</strong></button>
                        </div>
                    </div>
                </uib-tab>
                <uib-tab>
                    <uib-tab-heading>
                        Imagen del articulo
                    </uib-tab-heading>
                    <div class="panel-body">
                        <input-image titulo="Seleccionar una Imagen" imagen="selected.imagen_url"></input-image>
                    </div>
                </uib-tab>
            </uib-tabset>
        </div>
    </div>
</div>