<div class="row">
    <div class="col-lg-12">
        <div class="tabs-container">
            <uib-tabset>
                <uib-tab>
                    <uib-tab-heading>
                        Datos
                    </uib-tab-heading>
                    <div class="panel-body" ng-option>
                        <form name="datosAnimal" role="form" novalidate>
                            <fieldset class="form-horizontal">
                                <input-date titulo="Fecha de Ingreso" valor="selected.fecha_ingreso"></input-date>
                                <select-sexos sexo="selected.sexo"></select-sexos>
                                <input-text titulo="Nombre" valor="selected.nombre"></input-text>
                                <input-text titulo="Edad" valor="selected.edad"></input-text>
                                <select-tipo-edad titulo="Tipo de edad" tipo-edad="selected.edad_tipo"></select-tipo-edad>
                                <select-personas titulo="Rescató" persona="selected.rescata"></select-personas>
                                <select-raza especie="selected.especie" raza="selected.raza"></select-raza>
                                <select-colores titulo="Color del Animal" color="selected.color"></select-colores>
                                <select-estados titulo="Estado" estado="selected.estado"></select-estados>
                            </fieldset>
                        </form>
                        <div class="row">
                            <div class="space-30"></div>
                        </div>
                        <div class="row text-center">
                            <button class="btn btn-lg btn-info" type="submit" ng-click="ok(datosAnimal.$valid)">guardar</button>
                            <button class="btn btn-lg btn-danger" type="submit" ng-click="cancel()">cancelar</button>
                        </div>
                        <div class="row">
                            <div class="space-30"></div>
                        </div>
                    </div>
                </uib-tab>
                <uib-tab ng-if="selected.accion == 'editar'">
                    <uib-tab-heading>
                        Imagenes
                    </uib-tab-heading>
                    <div class="panel-body">
                        <table class="table table-bordered table-hover table-striped table-responsive">
                            <thead>
                                <tr>
                                    <th>Nombre</th>
                                    <th>Imagen</th>
                                    <th>Accion</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="item in selected.imagenes">
                                    <td>{{item.nombre}}</td>
                                    <td><a href="{{item.imagen}}" target="blank" class="text-info"><b>VER</b></a></td>
                                    <td>
                                        <button type="button" class="btn btn-danger btn-xs" ng-click="borrar(item)" tooltip-placement="bottom" uib-tooltip="Borrar Imagen">
                                            <span class="glyphicon glyphicon-trash"></span>
                                        </button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </uib-tab>
                <uib-tab ng-if="selected.accion == 'editar'">
                    <uib-tab-heading>
                        Subir Imagenes
                    </uib-tab-heading>
                    <div class="panel-body">
                        <fieldset class="form-horizontal">
                            <image-uploader valor="selected.id" imagenes="selected.imagenes"></image-uploader>
                            <div class="row text-center">
                                <button class="btn btn-lg btn-info" type="submit" ng-click="cancel()">aceptar</button>
                            </div>
                        </fieldset>
                    </div>
                </uib-tab>
            </uib-tabset>
        </div>
    </div>
</div>